@charset "UTF-8";
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-compass';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

$icon-font-path: "./fonts/";
$icon-font-name: "glyphicons-halflings-regular";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('#{$icon-font-path}#{$icon-font-name}.eot');
  src: url('#{$icon-font-path}#{$icon-font-name}.eot?#iefix') format('embedded-opentype'),
  url('#{$icon-font-path}#{$icon-font-name}.woff2') format('woff2'),
  url('#{$icon-font-path}#{$icon-font-name}.woff') format('woff'),
  url('#{$icon-font-path}#{$icon-font-name}.ttf') format('truetype'),
  url('#{$icon-font-path}#{$icon-font-name}.svg##{$icon-font-svg-id}') format('svg');
}

ul.context-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.context-menu-list li > a {
  color: $text-color;
  cursor: pointer;
  display: block;
  font-weight: 700;
  padding: 6px 10px;
  position: relative;
  margin: 0 -10px;
  text-decoration: none
}

.context-menu-list li > a .item-name {
  display: block;
  width: auto;
  padding-right: 22px
}

.context-menu-list li > a:hover {
  background-color: $dropdown-link-hover-bg;
  color: $dropdown-link-hover-color
}

.context-menu-list li > a .sub-name {
  clear: both;
  color: $dropdown-link-disabled-color;
  display: block;
  font-size: 9pt;
  font-weight: 400;
  line-height: 15px;
  margin-top: 4px
}

.context-menu-list li > a:active {
  background-color: $dropdown-link-active-bg;
  color: $dropdown-link-active-color;
}

.context-menu-list li > a.disabled:active, .context-menu-list li > a.disabled:hover {
  background: 0 0
}

.context-menu-list li > a.disabled {
  color: $dropdown-link-disabled-color;
  cursor: default
}

.context-menu-list li > a.disabled .vis-icon {
  opacity: .35
}

.context-menu-list li > a.disabled:hover .quiet, .context-menu-list li > a.disabled:hover .sub-name {
  color: $dropdown-link-disabled-color
}

.context-menu-list.inset li > a {
  border-radius: 3px;
  margin: 0
}

.mod-add-margin {
  .pull-left {
    margin-right: 6px;
    margin-top: -5px;
  }
}


.context-menu-wrapper {
  width: 350px;
}

.context-menu {
}

.context-menu-header {
  position: relative;
  margin-bottom: 8px;
  text-align: center
}

.context-menu-header-title {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  line-height: 36px;
  border-bottom: 1px solid $modal-header-border-color;
  margin: 0 10px;
  overflow: hidden;
  padding: 0 2pc;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1
}

.context-menu-header-back-btn {
  //padding: 10px 4px 10px 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2
}

.context-menu-header-close-btn {
  position: absolute;
  top: 0;
  right: 4px;
  z-index: 2
}

.context-menu .context-menu-content {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 10px 10px
}

.context-menu-item-selected {
  width: 5px;
  float: left;
  margin-right: 3px;
  height: 22px;
  background-color: black;
}


.form-field label {
  width: 200px;
}

.caption {
  font-weight: bold;

}

.droppable {
  img {
    width: 200px;
  }
}

td {
  padding: 1px;
}

.spacer-bottom {
  margin-bottom: 10px;
}
