<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>Konferenzname</th>
    <th>URL</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  {{#each model as |instance|}}
    {{instance-list-item instance=instance}}
  {{/each}}
  </tbody>
</table>
