<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>{{t 'event-name'}}</th>
    <th>URL</th>
    <th>{{t 'instance-status'}}</th>
  </tr>
  </thead>
  <tbody>
  {{#each savedInstances as |instance|}}
    {{instance-list-item instance=instance}}
  {{/each}}
  </tbody>
</table>
