<div id="content">
  {{outlet}}

  {{#if (ifCond currentPath '!==' 'instance-add')}}
    <div class="pull-right spacer-bottom">
      {{#link-to 'instance-add' class="btn btn-sm btn-primary"}}
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        {{t 'new' }}
      {{/link-to}}
      <a href="/" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        {{t 'refresh'}}
      </a>
    </div>
    {{instance-list model=model update='update'
                    upgradeInstance='upgradeInstance'}}

  {{/if}}

</div>
